# Server Environment Variables
PORT=8080
NODE_ENV="development"
CORS_ORIGIN="*"

# Google Gemini API
GEMINI_API_KEY=""
GEMINI_MODEL="gemini-2.5-flash"

# Weather & Maps (Optional)
WEATHER_API_KEY=""
WEATHER_API_DEFAULT_CITY="Ho Chi Minh City,VN"
